/* CSS Document */

body {
	background: url('dog2.jpg') no-repeat center center fixed;
    background-size: cover;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	}
nav{
	border: 2px solid #6B3317;
	position: absolute;
	position: absolute;
	
	width: 15%;
}
p {
	text-indent: 30px;
	margin: 5% 1% 1% 20%;
}
li
{  
	width: 60px;
	background-color: #FF0000;	
}
li a:link {
	background-color: pink;
	text-decoration: none;
	
}
li a:visited {
	background-color: #FF0000;
	text-decoration: none;
	
}
li a:hover{
	background-color: #ffff99;
	text-decoration: underline;
	
}
li a:active {
	background-color: #996633;
	text-decoration: none;
	
}
	
h1 {
	text-align: center;
	border-bottom: 2px solid #cc6600;
	}
	
#one {
	
	}
	


	